/* Google font style added */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* body section  */
body{
    font-family: 'Poppins', sans-serif;
}

/* header style start  */
header{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.banner img{
    width: 556.01px;
    height: 438px;
    margin-left: 102px;
}
.title h1{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
}
.live-link{
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px;
    background-color: #E02C6D;
    margin: 0px 8px;
}
.live-link:hover{
    background-image: linear-gradient(red, black);
    color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 8px white, 10px 10px 8px red, 15px 15px 8px green;
}
.fa-arrow-right{
    margin: 0px 8px;
    width: 24px;
    height: 24px;

}
/* Header style end  */

/* player section style start  */
.container-box{
    display: flex;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-content: center;
    
}
.player{
    width: 330px;
    height: 474px;
    padding: 15px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-photo img{
    width: 300px;
    height: 256px;
    margin: 16px 0px;
}

/* player section style end  */

/* Highlight section style start  */
.highlights-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 165px;
    
}
.highlight-title{
    width: 469px;
    height: 309px;
    margin-left: 0px;
}
.highlight-title h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #0A0826;
    margin: 8px 0px;
}
.highlight-title p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color:  #6C6C6C;
    margin: 8px 0px;
}
.match-photo{
    width: 567px;
    height: 427px;
    margin-left: 81px;
    
}
/* Highlight section style end  */

/* ---------------------
    footer style start  
-------------------------*/
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 161px;
}
.logo img{
    width: 483px;
    height: 110px;
}
.social-icon{
   margin: 0px 14px;
   
}