/* Google font style added */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* body section  */
body{
    font-family: 'Poppins', sans-serif;
}

/* header style start  */

header{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
}
.banner img{
    width: 556.01px;
    height: 438px;
    margin-left: 102px;
    transition: transform 2s ease-in-out;
}
header:hover img{
    transform: rotate(30deg) scale(0.80);
}
.title h1{
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #FFFFFF;
}
.live-link{
    text-decoration: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px;
    background-color: #E02C6D;
    margin: 0px 8px;
}
.live-link:hover{
    background-image: linear-gradient(red, black);
    color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 8px white, 10px 10px 8px red, 15px 15px 8px green;
}
.fa-arrow-right{
    margin: 0px 8px;
    width: 24px;
    height: 24px;

}
/* Header style end  */

/* player section style start  */
.container-box{
    display: flex;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    justify-content: center;
    padding: 15px;
    
}
.player{
    width: 330px;
    height: 474px;
    padding: 0px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    text-overflow: ellipsis;
}
.player-photo img{
    width: 300px;
    height: 256px;
    margin-top: 15px;
    margin-right: 15px;
    margin-left: 15px;
    
}
.player-title h2{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    margin-top: 16px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.player-title p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #6C6C6C;
    margin-top: 16px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 33px;
    
}

/* player section style end  */

/* Highlight section style start  */
.highlights-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 165px;
    
}
.highlight-title{
    width: 469px;
    height: 309px;
    margin-left: 0px;
}
.highlight-title h1{
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    color: #0A0826;
    margin: 8px 0px;
}
.highlight-title p{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color:  #6C6C6C;
    margin: 8px 0px;
}
.match-photo{
    width: 567px;
    height: 427px;
    margin-left: 81px;
    
}
/* Highlight section style end  */

/* join club form style start */
.join-club{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: greenyellow;
    margin-top: 100px;
    width: 100%;
    height: 300px;
}
.club h2{
    font-size: 50px;
    font-weight: 700;
}
.club p{
    font-size: 20px;
    font-weight: normal;
}
.email{
    width: 400px;
    height: 40px;
    font-size: 20px;
}
.button{
    color: white;
    font-size: 16px;
    width: 90px;
    height: 50px;
    background-image: linear-gradient(red, black);
}
.button:hover{
    color: white;
    background-image: linear-gradient(white, black);
    box-shadow: 5px 5px 8px white, 10px 10px 8px red, 15px 15px 8px green;
}
/* join club form style end  */
/* upcoming match style start  */
.upcoming-match{
    display: flex;
    margin-top: 100px;
}
#match{
    width: 50%;
    height: 500px;
    /* background-color: aliceblue; */
    text-align: center;
    padding-left: 10%;
}
#match img{
    width: 400px;
    height: 320px;
}
#highlights{
    width: 100%;
    height: 500px;
    /* background-color: aliceblue; */
    margin-left: 20px;
    text-align: center;
}
/* upcoming match style end  */
    /* footer style start */
footer{
    width: 483.87px;
    height: 213px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin-top: 161px;
    margin-bottom: 79px;
    margin-left: auto;
    margin-right: auto;
}
footer img{
    width: 483.87px;
    height: 110px;
}
.social-links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px;
    width: 170px;
    height: 32px;
    margin: 20px 0px;
}
.social-links a{
    text-decoration: none;
    font-style: none;
    width: 32px;
    height: 32px;
    border-radius: 16px;
    margin: 0px 14px;
    align-self: center;
    background-color: rgb(190, 188, 188);
   

}
.icon{
    color:#969BAB; 
    width: 15px;
    height: 12.07px;
    font-weight: 700;
    justify-content: center;
    margin-top: 8px;
    margin-left: 8px;
}
.fa-copyright{
    color: gray;
}
footer p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-left: 20px;
    padding-left: 20px;
}
/* footer style section end  */

/* media queries */
/* mobile devices */

@media only screen and (max-width:688px) { 
    header{
        background-color: #2D25A0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 70px;
        width: 100%;
        height: 695px;
        left: 0px;
        top: 0px;
     }
     .title h1{
        font-size: 36px;
         left: 16px;
     }
     .banner img{
        width: 329px;
        height: 259px;
        margin-top: 100px;
        margin-right: 100px;
     }
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 30px;
        justify-content: center;
        padding: 15px;
    }
    .highlights-container{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin-top: 60px;
    }
    .highlight-title{
        width: 329px;
        height: 299px;
        margin-left: 0px;
    }
    .highlights-image{
        margin-top: 160px;
    }
    .match-photo{
        width: 328px;
        height: 248px;
        margin-left: 16px;
        margin-right: 16px;
        
    }
    .upcoming-match{
        display: flex;
        flex-direction: column;
    }
    iframe{
        width: 360px;
    }
    .join-club{
        width: 100%;
        height: 300px;
        align-items: center;
    }
    .club h2{
        font-size: 50px;
        font-weight: 700;
        padding-left: 20px;
    }
    form{
        padding-left: 20px;
    }
    .club p{
        font-size: 20px;
        font-weight: normal;
        padding-left: 20px;
    }
    .email{
        width: 200px;
        height: 30px;
        font-size: 15px;
        padding-left: 10px;
    }
    .button{
        color: white;
        font-size: 14px;
        width: 80px;
        height: 35px;
        background-image: linear-gradient(red, black);
    }
    .button:hover{
        color: white;
        background-image: linear-gradient(white, black);
        box-shadow: 5px 5px 8px white, 10px 10px 8px red, 15px 15px 8px green;
    }
    footer{
        width: 380px;
        height: 213px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        margin-top: 161px;
        margin-bottom: 79px;
        margin-left: auto;
        margin-right: auto;
    }
    footer img{
        width: 380px;
        height: 110px;
    }
    .social-links{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0px;
        width: 170px;
        height: 32px;
        margin: 20px 0px;
    }
    .social-links a{
        text-decoration: none;
        font-style: none;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        margin: 0px 14px;
        align-self: center;
        background-color: rgb(190, 188, 188);
       
    
    }
    .icon{
        color:#969BAB; 
        width: 15px;
        height: 12.07px;
        font-weight: 700;
        justify-content: center;
        margin-top: 8px;
        margin-left: 8px;
    }
    .fa-copyright{
        color: gray;
    }
    footer p{
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        margin-left: 0px;
        padding-left: 0px;
    }
}

    /* tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 30px;
        grid-column-gap: 30px;
        justify-content: center;
        padding: 15px;
    }
    .highlights-container{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin-top: 165px;
    }
    header{
        background-color: #2D25A0;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        margin-bottom: 70px;
    }
}